<%= content_tag :div, id: "game",
      data: [player: @player, room_id: @room] do %>
<% end %>

<div class="players">
  <table id="player_x" class="player x">
  </table>

  <table id="player_o" class="player o">
  </table>
</div>

<div class="board" id="board">
</div>

<div id="result" class="info"></div>
